<div class="featured">
  <h2>Featured Weapons for Season of the Haunted</h2>
  <div class="weapons-wrapper">
    <section class="featured-weapons">
      <div class="weapon">
        <img src="../assets/CalusMiniTool.jpg" alt="Calus Mini-Tool SMG" />
        <h3>Calus Mini-Tool</h3>
      </div>
      <div class="weapon">
        <img src="../assets/Austringer.jpg" alt="Austring Hand Cannon" />
        <h3>Austringer</h3>
      </div>
      <div class="weapon">
        <img src="../assets/LingeringDread.jpg" alt="Austring Hand Cannon" />
        <h3>Lingering Dread</h3>
      </div>
      <div class="weapon">
        <img src="../assets/HollowDenial.jpg" alt="Austring Hand Cannon" />
        <h3>Hollow Denial</h3>
      </div>
    </section>
  </div>
</div>
