<div class="form-wrapper">
  <form class="roll-evaluator" #rollForm="ngForm" (ngSubmit)="evaluate(rollForm.value)">

    <div class="form-option">
      <label for="weapons" id="weapons">Choose your weapon:</label>
      <select name="weapon" id="weapon" ngModel>
        <option disabled selected value> -- select weapon -- </option>
        <option *ngFor="let weapon of weapons" [value]="weapon.name">{{weapon.name}}</option>
      </select>
    </div>

    <div class="form-option">
      <label for="firstTrait" id="firstTrait">Select first trait:</label>
      <select name="firstTrait" id="firstTrait" ngModel>
        <option disabled selected value> -- select 1st trait -- </option>
        <option *ngFor="let trait of traits" [value]="trait.name">{{trait.name}}</option>
      </select>
    </div>

    <div class="form-option">
      <label for="secondTrait" id="secondTrait">Select second trait:</label>
      <select name="secondTrait" id="secondTrait" ngModel>
        <option disabled selected value> -- select 2nd trait -- </option>
        <option *ngFor="let trait of traits" [value]="trait.name">{{trait.name}}</option>
      </select>
    </div>

    <div class="submit-wrapper">
      <input type="submit" id="submit" value="Evaluate">
    </div>
  </form>
</div>

<div
[class.hidden]="selectedWeapon === undefined"
[class.weapon-feedback]="selectedWeapon"
>
  <p>
    You selected <em>{{selectedWeapon?.name}}</em> with the traits <em>{{selectedFirstTrait?.name}}</em> and <em>{{selectedSecondTrait?.name}}</em>.
  </p>
  <p>
    Your PvE Rating is <em>{{pveScore}}</em> out of 10.
  </p>
  <p>
    Your PvP Rating is <em>{{pvpScore}}</em> out of 10.
  </p>
</div>
