<div class="nav-bar">
    <div class="logo-wrapper">
      <img src="../assets/WhiteNavLogo.png" alt="Destiny 2 Logo" />
    </div>
    <nav class="nav">
      <h1>Destiny Roll Evaluator</h1>
      <ul class="nav-links">
        <li>
          <a id="active" routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/roll-evaluator">Roll Evaluator</a>
        </li>
        <li>
          <a routerLink="/featured-weapons">Featured Weapons</a>
        </li>
        <li>
          <a routerLink="/community-picks">Community Picks</a>
        </li>
      </ul>
    </nav>
  </div>
