<div class="add-weapon-button">
  <button id="add-weapon-button" (click)="toggleAddForm()">Add a Weapon</button>
  <button id="edit-weapon-button" (click)="toggleEditForm()">Edit Weapons</button>
</div>

<div class="community-form-wrapper">
    <form
    [class.hidden]="addFormRevealed === false"
    [class.community-form]="addFormRevealed === true"
    #addWeaponForm="ngForm"
    (ngSubmit)="addCommunityPick(addWeaponForm.value)"
    >

        <label for="name" id="name">Enter your weapon name:</label>
        <input type="text" placeholder="e.g. Stormchaser" name="name" id="name" ngModel>

        <label for="imageUrl" id="imageUrl">Enter image link:</label>
        <input type="text" placeholder="e.g. https://ik.imagekit.io/kwroldan/Capstone/Stormchaser_b8ha5WBBM.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1654793026186" name="imageUrl" id="imageUrl" ngModel>

        <label for="firstTrait" id="firstTrait">Enter first trait:</label>
        <input type="text" placeholder="e.g. Rapid Hit" name="firstTrait" id="firstTrait" ngModel>

        <label for="secondTrait" id="secondTrait">Enter second trait:</label>
        <input type="text" placeholder="e.g. Vorpal Weapon" name="secondTrait" id="secondTrait" ngModel>

        <label for="comment" id="comment">Enter comments:</label>
        <input type="text" placeholder="e.g. This is a great option for solo players!" name="comment" id="comment" ngModel>

        <div class="submit-wrapper">
          <input type="submit" id="submit" value="Submit!">
        </div>

    </form>
  </div>

<div class="community-weapons-wrapper">
  <h2 class="community-header-text">Community Weapon Picks</h2>
  <div class="weapons-wrapper">
    <section class="community-weapons">
      <div class="weapon" *ngFor="let pick of picks">
        <h3 id="community-weapon-title">{{pick.name}}</h3>
        <img src="{{pick.imageUrl}} alt={{pick.name}}" />
        <h4>Perks:</h4>
        <p>{{pick.firstTrait}} and {{pick.secondTrait}}</p>
        <h4>Comments:</h4>
        <p id="comment">{{pick.comment}}</p>

        <form
        #editCommunityForm="ngForm"
        [class.hidden]="editFormRevealed === false"
        [class.edit-weapon-form]="editFormRevealed === true"
        (ngSubmit)="editCommunityPick(editCommunityForm.value)"
        >

          <input [(ngModel)]="pick!.name" type="text" name="name" id="name" placeholder="Name:">
          <input [(ngModel)]="pick!.imageUrl" type="text" name="imageUrl" id="imageUrl" placeholder="Image URL:">
          <input [(ngModel)]="pick!.firstTrait" type="text" name="firstTrait" id="firstTrait" placeholder="First Trait:">
          <input [(ngModel)]="pick!.secondTrait" type="text" name="secondTrait" id="secondTrait" placeholder="Second Trait:">
          <input [(ngModel)]="pick!.comment" type="text" name="comment" id="comment" placeholder="Comments:">
          <input [(ngModel)]="pick!.id" type="text" name="id" class="hidden" placeholder="ID:">

          <input type="submit" name="submit" id="submit" value="Update Weapon">
        </form>



        <button class="hidden">Delete Weapon</button>
      </div>
    </section>
  </div>

</div>
