  <h2 class="community-header-text">Community Weapon Picks</h2>
  <div class="community-form-wrapper">
    <form class="community-form">

        <label for="weapon" id="weapon">Enter your weapon name:</label>
        <input type="text" placeholder="e.g. Stormchaser" name="weapon" id="weapon">

        <label for="image" id="image">Enter image link:</label>
        <input type="text" placeholder="e.g. https://ik.imagekit.io/kwroldan/Capstone/Stormchaser_b8ha5WBBM.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1654793026186" name="image" id="image">


        <label for="first_trait" id="first_trait">Enter first trait:</label>
        <input type="text" placeholder="e.g. Rapid Hit" name="first_trait" id="first_trait">

        <label for="second_trait" id="second_trait">Enter second trait:</label>
        <input type="text" placeholder="e.g. Vorpal Weapon" name="second_trait" id="second_trait">

        <label for="comment" id="comment">Enter comments:</label>
        <input type="text" placeholder="e.g. This is a great option for solo players!" name="comment" id="comment">

        <div class="submit-wrapper">
          <input type="submit" id="submit" value="Submit!">
        </div>

    </form>
  </div>
