@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
font-family: 'Roboto Condensed', sans-serif;
color: white;
background-color: hsl(353, 27%, 12%);
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 1fr;
  background-color: hsl(353, 27%, 8%);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

@media(max-width: 800px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 800px) {
  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
}

.nav-bar > .logo-wrapper > img {
  width: 85px;
  height: 50px;
  margin-top: 16px;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media(max-width: 500px) {
  .nav-links {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: white;
  transition: 0.7s;
}

a:hover {
  text-decoration: underline;
  font-size: 20px;
}

.nav-links > li + li {
  margin-left: 20px;
}

@media(max-width: 500px) {
  .nav-links > li + li {
    margin-left: 0px;
    margin-top: 20px;
  }
}

#active {
  color: hsl(40, 83%, 67%);
}

.landing-page {
  display: block;
}

.hero-figure {
  text-align:center;
  margin-bottom: 30px;
}

.hero-figure > img {
  width: 80%;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
}

.preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.preview-item {
  text-align: center;
}

.preview-item > a > img {
  width: 90%;
  height: 300px;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
}

@media (max-width: 960px) {
  .preview-wrapper {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 960px) {
  .preview-item > img {
    width: 75%;
    height: auto;
  }
}

@media (max-width: 960px) {
  .preview-wrapper > h3 {
    padding: 10px;
    margin-bottom: 10px;
  }
}

.featured {
  background-color: hsl(353, 27%, 8%);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 10px solid hsl(353, 27%, 20%);
  border-radius: 4px;
  margin-bottom: 20px;
}

.weapons-wrapper {
  display: flex;
  justify-content: center;
}

.featured-weapons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

@media(max-width: 650px) {
  .featured-weapons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5px;
  }
}

.weapon {
  text-align: center;
}

app-weapon-listing > img {
  width: 100%;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
}

.weapon > h3 {
  font-size: 16px;
}

.stat-reveal-button-wrapper {
  display: flex;
  justify-content: center;
}

.stat-reveal-button {
  margin-bottom: 20px;
  background-color: hsl(353, 27%, 80%);
  border: solid 4px hsl(353, 37%, 80%);
  border-radius: 4px;
  transition: 0.5s;
  padding: 10px;
}

.stat-reveal-button:hover {
  background-color: hsl(353, 27%, 50%);
  border: solid 4px hsl(353, 27%, 50%);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.roll-evaluator {
  display: block;
}

@media(max-width: 500px) {
  .roll-evaluator {
    width: 75%;
  }
}

.form-option {
  display: flex;
  justify-content: space-between;
}

.form-option > label + select {
  margin-left: 20px;
}

.form-option + .form-option {
  margin-top: 15px;
}

select {
  width: 300px;
  text-align: center;
  background-color:hsl(353, 27%, 80%);
  padding: 10px;
}

select:focus {
  border: solid 4px hsl(353, 27%, 20%);
}

.submit-wrapper {
  display: flex;
  justify-content: center;
}

#submit {
  margin-top: 15px;
  text-align:center;
  background-color: hsl(353, 27%, 80%);
  border: solid 4px hsl(353, 37%, 80%);
  border-radius: 4px;
  transition: 0.5s;
  padding: 10px;
}

#submit:hover {
  background-color: hsl(353, 27%, 50%);
  border: solid 4px hsl(353, 27%, 50%);
  cursor:pointer;
}

.hidden {
  display: none;
}

.weapon-feedback {
  margin-top: 20px;
  font-size: 20px;
  width: 50%;
  margin-left: 35%;
  margin-right: 30%;
}

em {
  color: hsl(40, 83%, 67%);
  font-weight: bold;
}

.stat-table-wrapper {
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 3px solid hsl(353, 27%, 20%);
  background-color: hsl(353, 27%, 30%);
}

table {
  margin-bottom: 10px;
  width: 30%;
}

table > thead > th {
  text-align: center;
  font-size: 21px;
  padding: 5px;
}

td {
  text-align: center;
}

.page-not-found-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#page-not-found-image {
  width: 60%;
  height: auto;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
}

app-weapon-page > main > app-weapon-listing > .individual-weapon-page {
  margin: 20px;
  background-color:hsl(353, 27%, 8%);
  border: solid 4px hsl(353, 27%, 20%);
}

.individual-weapon-page-image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.individual-weapon-page-image > img {
  width: 75%;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
  margin-top: 20px;
}

.combo-listing {
  text-align: center;
  font-size: 22px;
}

.combo-description {
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 20px;
}

.add-weapon-button {
  display: flex;
  justify-content: center;
}

#add-weapon-button, #edit-weapon-button {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align:center;
  background-color: hsl(353, 27%, 80%);
  border: solid 4px hsl(353, 37%, 80%);
  border-radius: 4px;
  transition: 0.5s;
  padding: 5px;
}

#add-weapon-button:hover {
  background-color: hsl(353, 27%, 50%);
  border: solid 4px hsl(353, 27%, 50%);
}

.community-header-text {
  margin-bottom: 40px;
}

.community-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 25px) 70px;
  grid-gap: 5px;
  width: 75%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}

.community-form > label {
  margin-top: 10px;
  margin-bottom: 30px;
}

.community-form > input {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid hsl(353, 27%, 30%);
  transition: 0.5s;
}

.community-form > input:focus {
  background-color: hsl(353, 27%, 70%);
}

.community-form > .submit-wrapper {
  width: 50%;
}

.community-weapons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.community-weapons > .weapons-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.community-weapons > .weapon {
  background-color:hsl(353, 27%, 8%);
  border: solid 4px hsl(353, 27%, 20%);
  margin-bottom: 20px;
  width: 400px;
}

#community-weapon-title {
  font-size: 24px;
  margin-top: 10px;
}

.community-weapons > .weapon > img {
  width: 90%;
  border-radius: 4px;
  border: 4px outset hsl(353, 27%, 20%);
}

#comment {
  margin-bottom: 10px;
}

.edit-weapon-form {
  display: flex;
  flex-direction: column;
}

.edit-weapon-form > input {
  background-color: hsl(353, 27%, 80%);
  border: 2px solid hsl(353, 27%, 12%);
  padding: 10px;
  width: 80%;
  margin-left: 5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
